body {
  font-family: "Open Sans", sans-serif;
}
.container {
  display: flex;
  padding: 50px;
}

.leftMenu {
  flex: 1;
  /* position: sticky;
  top: 0;
  height: 100vh; */
}
.search {
  padding: 10px;
  width: 200px;
  border: 1px solid gray;
}

h1 {
  font-size: 30px;
  color: #555;
  font-weight: 300;
}
.content {
  flex: 4;
}

.cats {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.cat {
  cursor: pointer;
  padding: 5px;
  font-size: 20px;
  font-weight: 300;
}

.products {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.product {
  width: 350px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}

img {
  width: 150px;
  height: 250px;
  object-fit: contain;
}

.name {
  font-weight: 300;
}
